$purple = #DE8EE1
$green = #5DAE9F
$blue = #4E82A1
$yellow = #F4FF5F
$red = #CC6C67
$orange = #E1A246

$purple-hover = #C57EC7
$green-hover = #4F9488
$blue-hover = #426D87

$gray = #A6A8AD
$light-gray = #E4E4E4
$text-color = #5D5E61