$pink = #F83A67
$green = #3EEEB0
$blue = #6D53EE
$yellow = #D4F841
$red = #CC6C67
$orange = #E1A246

$purple-hover = #C57EC7
$orange-hover = #C7903E
$green-hover = #4F9488
$blue-hover = #426D87

$gray = #A6A8AD
$light-gray = #E4E4E4
$text-color = #5D5E61