@import './colors'

*
  box-sizing border-box

html, body, header, main, nav, footer, article, blockquote, 
div, section, span, iframe, img, video, figure, a, p, h1, h2,
h3, h4, h5, h6, strong, b, i, ul, ol, li, form, fieldset,
label, input, input:focus, select, select:focus, textarea, textarea:focus, table, button, thead, tbody, tfoot,
th, td, tr, aside, caption, sup, sub, q, small
	padding 0
	margin 0
	border 0
	text-decoration none
	letter-spacing .4px

a
	text-decoration none

input:focus
select:focus
textarea:focus
button:focus
	shadow-box none
	
html, body
	font-size 14px
	
body
	line-height 1
	background-color $light-gray
	color $text-color
	font-family 'Open Sans', sans-serif
	
ol
ul
	list-style none

blockquote
	quotes none

blockquote:after
blockquote:before
	content ""
	content none

table
	border-collapse collapse
	border-spacing 0
	