@import '../../../../stylesheets/settings/colors'

.analysts
	padding 40px 80px
	overflow auto
	height calc(100vh - 3px)
	
	&:after 
		content ''
		display block
		height 40px
		
	> .title
		font-size 1.4em
		font-weight 400
		margin-bottom 60px	
		