@import '../../../../stylesheets/settings/colors'

.comment-input
	display grid
	grid-template-columns 60px auto
	margin-top 45px
	align-items flex-end
	
	> .avatar-wrapper
		padding-right 10px
		
		> svg 
			width 100%
			height auto

	> .content	
		> .comment-header
			margin-bottom 15px
	
			> .name
				display inline-block
				font-size 1em
		
		> .file-list
			> .file
				border-radius 30px
				margin-bottom 15px
				padding 10px
				display inline-block
				border solid 1px $gray
				margin-right 10px
				font-size .8em
				
		> .input-wrapper				
			background-color white
			border-radius 50px 
			box-shadow 0px 1px 4px 0px rgba(black, .1)
			padding-right 15px
			
			> .text-area
				width calc(100% - 60px)
				height 50px
				resize none
				border none
				overflow hidden
				padding-top 12px
				padding-bottom 12px
				padding-left 20px
				background-color transparent
				display inline-block
				
				&:focus
					outline none
				
			> .actions
				width 60px
				height 50px
				display inline-grid
				align-items center
				justify-content center
				text-align right
				vertical-align top
				grid-gap 10px 
				grid-template-columns 1fr 1fr
				
				label
				img
					width 100%
					cursor pointer
					
				label > input 
					display none