@import '../../../stylesheets/settings/colors.styl'

.button
	display block
	height 40px
	color white
	background-color $gray
	border-radius 4px
	cursor pointer
	transition-duration .5s
	
	&.-green
		background-color $green
	
		&:hover
			background-color $green-hover
			
	&.-purple
		background-color $purple
	
		&:hover
			background-color $purple-hover
		
				