@import '../../../stylesheets/settings/colors.styl'

.link-button
	display block
	height 40px
	color $gray
	background-color transparent
	cursor pointer
	width 100px
	border none
			
	&.-green
		color $green 
			
	&.-orange
		color $orange
					